<aside class="aside">
  <div class="user">
    <div class="user__img">
      <img>
    </div>
    <div class="user__name"></div>
  </div>
  <nav class="nav">
    <ul class="menu">
      <li class="menu__item"><img>HOME</li>
      <li class="menu__item"><img>CHAT</li>
      <li class="menu__item"><img>CONTACT</li>
      <li class="menu__item"><img>CALENDAR</li>
      <li class="menu__item"><img>SETTINGS</li>
    </ul>
  </nav>
  <div class="logOut">
    <button class="logOut__btn">
      <img>
      LOG OUT
    </button>
  </div>
</aside>
