@import "assets/style/reset";
@import '~@ctrl/ngx-emoji-mart/picker';

@font-face {
  font-family: 'Manrope', 'Open Sans';
  src: url("assets/fonts/Manrope-Bold.ttf");
}

body {
  background: #F3F3FB;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
