@import "assets/style/reset";
@import '~@ctrl/ngx-emoji-mart/picker';

@font-face {
  font-family: 'Manrope', 'Open Sans';
  src: url("assets/fonts/Manrope-Bold.ttf");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #F3F3FB;
}
